/* [v-cloak] { display: none; }

img {
    opacity: 1;
    transition: opacity 1s;
}
img.hide {
    opacity: 0;
}

#app {
  height:10000px;
  background: linear-gradient(#E4A972, #9941D8);
} */

/* トランジション */
/* １秒かけて透明度を遷移 */
.v-enter-ActiveXObject, .v-leave-active {
  transition: opacity 1s;
}
/* 見えなくなる時の透明度 */
.v-enter, .v-leave-to {
  opacity: 0;
}